/vim/bundle
/vim/swap_files
/vim/backup_files
/vim/sessions/
/powershell/history.csv
/powershell/Modules
zsh/.zsh/antigen.zsh.zwc
powershell/Help/
._*
.DS_Store
/vim/plugins/plugins
*private*
.autoenv.zsh
.autoenv
doomemacs/custom.el
tasks/private-tasks.yaml
tasks/taskfile.env
remove_links.sh

hyprland/host-specific.conf
hyprland/hosts/

CLAUDE.md
