
* {
	font-size: 14px;
	font-family: CaskaydiaCove Nerd Font;
}

@define-color background     #1e2127;
@define-color background-alt #282b31;
@define-color foreground     #ffffff;
@define-color selected       #59cd90;
@define-color active         #fac05e;
@define-color urgent         #ee6352;



window#waybar {
	background: @background;
	color: #ebdbb2;

}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @background-alt;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @background;
	background: @background-alt;
}

#workspaces,
#clock,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#temperature,
#network,
#sway-language
{
	background: @background;
}

#workspaces button {
	color: #fbf1c7;
	padding: 0 3px;
}
#workspaces button.focused {
	color: #ebdbb2;
	background: @selected;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: @active;
	color: #ebdbb2;
	border: @background-alt;
}


#pulseaudio {
	color: #83a598;
}
#memory {
	color: #689d6a;
}
#cpu {
	color: #d3869b;
}
#battery {
	color: #b8bb26;
}
#disk {
	color: #fabd2f;
}

#temperature{
	color: #ff8090;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#network
{
	padding: 2px 10px;
}

#clock {
	padding: 5px 10px;
}

#custom-powermenu {
	color: @urgent;
	padding: 0px 5px;
}
