[Unit]
Description=Launch Hyprlock before the system sleeps for %i
#Before=sleep.target
Before=systemd-suspend.service systemd-hybrid-sleep.service systemd-hibernate.service


[Service]
Type=oneshot
User=%i
RemainAfterExit=no
ExecStart=/home/%i/.config/hypr/scripts/lock-resume-on-sleep.sh sleep

[Install]
WantedBy=sleep.target
