[Desktop Entry]
NoDisplay=true
Name=Emacs (Mail) HIDDEN
Categories=Network;Email;
Comment=GNU Emacs is an extensible, customizable text editor - and more
Exec=emacs -f message-mailto %u
Icon=emacs
MimeType=x-scheme-handler/mailto;
Terminal=false
Type=Application
