[Desktop Entry]
Name=KeePassXC Activate
GenericName=Password Manager
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=/home/iamkarlson/.config/hypr/scripts/apps/openfocus.sh keepassxc
TryExec=keepassxc
Icon=keepassxc
StartupWMClass=keepassxc
StartupNotify=false
Terminal=false
Type=Application
Version=1.5
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;
SingleMainWindow=true
X-GNOME-SingleWindow=true
Keywords=security;privacy;password-manager;yubikey;password;keepass;
