[Desktop Entry]
Name=Screenshot OCR
GenericName=Screenshot to Text
Comment=Take screenshot and extract text with OCR tool `tesseract`
Exec=/home/iamkarlson/src/dotfiles/hyprland/scripts/apps/screenshot.sh area --ocr
Icon=image-x-generic
Type=Application
Terminal=false
Categories=Graphics;Photography;Utility;
StartupNotify=false
Keywords=screenshot;ocr;text;recognition;
